@import "nullstyle.scss";
.container{
    width: 510px;
    margin: 0px auto;
    height: 510px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.main-board {
    width: 504px;
    height: 505px;
    font-size: 0;
    &__cell {
        font-size: 14px;
        width: 20px;
        height: 20px;
        display: inline-block;
    }
}
.border{
    position: absolute;
    top: 49%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 466px;
    height: 460px;
    border: 2px solid red;   
}
